.idea

build

generated

/logs/

.gradle

*.iml

x

*.lock

local.properties

gradle.properties

file-uploads

/example/ios/.DS_Store

*.xcuserdatad

/example/ios/Pods/Target Support Files/Pods-restutilTest/Pods-restutilTest.release.xcconfig
/example/ios/Pods/Target Support Files/Pods-restutilTest/Pods-restutilTest.debug.xcconfig
/example/ios/Pods/Local Podspecs/j2objc-iosjava-release.podspec.json
/example/ios/Pods/Local Podspecs/j2objc-iosjava-debug.podspec.json
